netcore-service:
  image:
    repository: registry.digitalocean.com/deviot/utilities-billing
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"

  imagePullSecrets:
    - name: regcred-digital-ocean

  environment: "Production"

  consulUrl: "common-services-consul-headless.project-management.svc.cluster.local:8500"

  grpc:
    host: "grpc-billing.umecdev.deviot.cloud"
    targetPort: 81
    tls:
      secretName: "wc-umecdev-deviot-cloud-crt-secret"

  probes:
    enabled: true

postgresql:
  enabled: false
  auth:
    database: "billing"
    password: "billing"
    username: "billing"

